window {
  background-color: rgba (22, 22, 23, 0.95);
  border: 2px solid #e6b99d;
  border-radius: 16px;
  color: #c9c7cd
}

list {
  background: none;
  border-radius: 15px
}

entry {
  background-color: #6c6874
}

button {
  background: none;
  border: none
}

button:hover {
  background-color: #6c6874
}
