
//@theme "/usr/share/rofi/themes/Monokai.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/usr/share/rofi/themes/dmenu.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/squared-material-red.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/modern-dark.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/carbonized.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/squared-material-red.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/modern-dark.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/rounded-gray-oldworld.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/squared-oldworld.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/rounded-oldworld.rasi"

//@theme "/usr/share/rofi/themes/iggy.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/rounded-oldworld.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/oldworld.rasi"

//@theme "/home/mattkavs/.local/share/rofi/themes/oldworld-orange.rasi"

@theme "/home/mattkavs/.local/share/rofi/themes/oldworld-orange.rasi"
