@import url("oldworld.css");

*{
  background: @bgAlpha;
  border: none;
  font-family: 'NotoSans Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

#workspaces,
#window,
#custom-updates,
#clock,
#tray,
#custom-vpn,
#network,
#battery,
#pulseaudio,
#backlight,
#idle_inhibitor {
  margin: 3px 5px;
  padding: 0px 10px;
  color: @fg;
}

#clock {
  color: @orange;
}

tooltip {
  background: @bgAlpha;
  color: @fg;
  border-color: @fg;
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
}

/* Left Modules */
#workspaces {
  padding-right: 0px;
}

#workspaces button {
  margin-right: 3px;
  padding: 5px;
  color: @subtext4;
}

#workspaces button.active {
  color: @subtext2;
}

#workspaces button.urgent {
  color: @red;
}

#window {
  padding-left: 0px;
  color: @magenta;
}

#custom-updates {
  color: @purple;
}

/* Right Modules */
#tray {
  color: @magenta;
}

#custom-vpn {
  color: @subtext4;
}

#custom-vpn.connected {
  color: @red;
}

#network {
  color: @purple;
}

#network.disconnected {
  color: @subtext4;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @cyan;
}

#battery.good {
  color: @yellow;
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @red;
}

#pulseaudio {
  color: @blue;
}

#pulseaudio.muted {
  color: @subtext4;
}

#backlight {
  margin: 3px 0px;
  padding: 0px 0px;
  color: @yellow;
}

#idle_inhibitor {
  padding-right: 20px;
  color: @subtext4;
}

#idle_inhibitor.activated {
  color: @yellow;
}
